# Project exclude paths
/out/
/.idea/$CACHE_FILE$
/.idea/codeStyles/codeStyleConfig.xml
/.idea/kotlinc.xml
/.idea/libraries/KotlinJavaRuntime.xml
/.idea/misc.xml
/.idea/modules.xml
/ProblemSolving.iml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
